* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background-color: #fd6e0a;
  border: none;
  padding: 15px 30px;
  height: 60px;
  color: aliceblue;
  font-size: 15px;
  font-weight: 700;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/*Header & navigation Style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 80px;
}
/* Banner Style */
.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.banner-title {
  font-weight: 600;
  font-size: 45px;
  color: black;
  margin-bottom: 20px;
}
.banner-name {
  font-weight: 700;
  font-size: 85px;
  color: black;
  margin-bottom: 5px;
}
.banner-description {
  font-size: 18px;
  color: gray;
  margin-bottom: 15px;
}
/* Section Styles */
section {
  max-width: 780px;
  margin: 0 auto;
}
.about {
  margin-top: 50px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}
.about-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
/* About Info styles  */
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info-title {
  font-size: 20px;
  color: #757575;
}
.about .info-description {
  font-weight: 600;
  font-size: 18px;
  color: #474747;
}
/* What I Do Styles */
.what-i-do {
}
.section-title {
  margin-top: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 100px;
}
.skill-container {
  display: flex;
  gap: 30px;
}
.skill {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.6);
  padding: 30px;
}
.skill-title {
  font-weight: 700px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 30px;
}
.skill-description {
  align-items: center;
  color: #757575;
}
/* .resume{
  justify-content: space-between;
} */
.resume-content {
  display: flex;
  gap: 24px;
}
.resume-title {
}
.resume .title {
  font-weight: 550;
  font-size: 25px;
  color: #474747;
  margin-top: 10px;
  margin-bottom: 10px;
}
.resume .sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 5px;
}
.resume .description {
  color: #757575;
  margin-bottom: 10px;
}
.download-btn {
  text-align: center;
  margin-top: 30px;
}

/* contact Styles */
.contact {
  display: flex;
  gap: 50px;
  background: #fff8f3;
  padding: 50px 150px;
  border-radius: 5px;
  margin-top: 20px;
}
.contact .section-title {
  margin-bottom:50px;
  text-align: left;
  font-weight: 600;
  font-size: 35px;
}
.contact-description {
  margin-bottom: 15px;
  color: #aa1a1a;
}
.contact input,
textarea {
  margin-bottom: 24px;
  border: 0;
  padding: 18px 20px;
}
input {
  height: 40px;
  width: 100%;
}
textarea {
  width: 100%;
}
.contact a{
text-decoration: none;
margin-left: 24px;
}
